.in-season {
    .in-season-header {
        h2 {
            font-size: 18px;
        }
    }

    .in-season-body {
        .in-season-item-1 {
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
            border-radius: 0.5rem;
            margin-right: 25px;
                img {
                    border-top-left-radius: 0.5rem;
                    border-top-right-radius: 0.5rem;
                    // width: 611px;
                }
                h3 {
                    font-size: 18px;
                    padding: 20px 10px;
                }

                p {
                    font-size: 14px;
                    padding: 0 10px 0 10px;
                }

                button {
                    border-radius: 90px;
                    padding: 5px 10px;
                    margin-bottom: 10px;
                    margin-left: 10px;
                    background-color: #fff;
                    font-size: 13px;
                    font-weight: bold;
                    border: 1px solid #000;
                }

                button:hover {
                    background-color: #000;
                    color: #fff;
                }
        }
        .in-season-item-2 {
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.15);
            border-radius: 0.5rem;
            margin-right: 25px;
            img {
                border-top-left-radius: 0.5rem;
                border-top-right-radius: 0.5rem;
                // width: 611px;
            }
            h3 {
                font-size: 18px;
                padding: 20px 10px;
            }

            p {
                font-size: 14px;
                padding: 0 10px 0 10px;
            }

            button {
                border-radius: 90px;
                padding: 5px 10px;
                margin-bottom: 10px;
                margin-left: 10px;
                background-color: #fff;
                font-size: 13px;
                font-weight: bold;
                border: 1px solid #000;
            }

            button:hover {
                background-color: #000;
                color: #fff;
            }
        }
    }

}